


@font-face {
    font-family:Googlesans-B;
    src: url('fonts/GoogleSans-Bold.otf');
    font-display: swap;
    font-weight: normal;
}


@font-face {
    font-family:Googlesans;
    src: url('fonts/GoogleSans-Medium.ttf');
    font-display: swap;
    font-weight: normal;
    font-weight: normal;
}


