<!doctype html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml"  xml:lang="vi">


    <head>
        <meta charset="utf-8" />
        <title>Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ</title>
        <meta name="viewport"
              content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=2.0, user-scalable=yes" />
        <meta name="theme-color" content="#0099ff" />

        <meta http-equiv="Content-Language" content="VN" />
        <meta name="description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" />
        <meta name="keywords" content="" />
        <meta property="og:url" name="og:url" content="https://bestdesign.24h.co/" data-app/>
        <meta property="og:type" name="og:type" content="website" data-app/>
        <meta property="og:description" name="og:description" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app/>
        <meta property="og:title" name="og:title" content="Best Design - Chuyên thiết kế thi công nội thất đẹp, giá rẻ" data-app/>

        <meta property="og:image" name="og:image" content="https://bestdesign.24h.co/uploaded/logo/logo.png" data-app>
        <meta property="og:image:alt" name="og:image:alt" content="https://bestdesign.24h.co/uploaded/logo/logo.png" data-app>
        <link href="/favicon.ico" rel="shortcut icon" />        

     
        <link rel="stylesheet" type="text/css" href="/css/style.css" />

        <link rel="stylesheet" type="text/css" href="/css/grid.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/css/swiper.min.css" />

        <link rel="stylesheet" type="text/css" href="/css/font.css" />
        <link rel="stylesheet" type="text/css" href="/css/fontawesome-5.12.1/css/all.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/jquery.mmenu.all.css" />
        <link rel="stylesheet" href="/css/jquery-ui.css" />

        <script src="/js/jquery-1.10.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.2.2/js/swiper.min.js"></script>

        <script src="/js/script.js"></script>

        <script src="/js/jquery-ui.min.js"></script>
        <script src="/js/jquery.form.min.js"></script>
        <script src="/js/jquery.mmenu.min.all.js"></script>

        

        

    </head>    


<body>



<div id="page">


    <!-- header pc -->
    <header class="header hide-on-pad hide-on-tab">
      <div class="grid">
        
        <div class="flex-container align-center">
            <div class="cell-1-5">
              <div class="logo">
                <a href="/">
                  <img src="/uploaded/logo/logo.png" alt="LogoSite"
                    style="max-width:100%; margin:0 auto"></a>
                </div>
            </div>
           <div class="cell-4-5">
            <div class="menubar">
              <ul class="nav  hide-on-mobile">
              <li class=" active "> <a href="/" class=""><span style="background-image:url()">Trang chủ                     
              </li>

              <li class=" "> <a href="/" class=""><span style="background-image:url()"> Giới thiệu  </span></a>
                  <ul class="submnu1" style="display: none;">
                    <li class=""><a href="/phat-trien-dien-nang/">Về chúng tôi</a>
                    </li>
                    <li class=""><a href="/dau-tu-bat-dong-san/">Lịch sử hình thành</a>
                   
                    </li>
                </ul>
              </li>
              
              <li class=" "> <a href="/linh-vuc-hoat-dong/" class=""><span style="background-image:url()"> Thẻ xăng dầu</span></a>
              </span></a>
              
              
              
              
               
                  
                  
              </li>
              <li class=""> <a href="/cong-ty-thanh-vien/" class=""><span style="background-image:url()">     Mạng lưới           </span></a>       
                  
               
              </li>
            
            
            
              <li class=" "> 
                <a href="/lien-he/" class=""><span style="background-image:url()">Liên hệ</span></a> 
              </li>
              
              </ul>
              <div class="icon-search" >
                <i class="fa fa-search search-icon" aria-hidden="true"></i> 
                 <div class="search-pc" style="">
                     <form action="/search/" method="get" id="searchformtab">
                         <input name="qr" id="qr_search" class="kw-mobile" placeholder="Tìm kiếm" type="text">
                             <!-- <a href="#" class="submit-search-pc" onClick=""> 
                                 <i class="fa fa-search" aria-hidden="true"></i> </a> -->

                             <a href="#" class="closeX" onClick="$('.search-pc').hide(); return false;">&#10005;</a>        
                     </form>
                 </div>
                 <script type="text/javascript">

                  $(".submit-search-pc").click(function(){
                    if ($("#qr_search").val() != "")
                      $('#searchformtab').submit(); return false;
                  
                  });

                  $(document).ready(function () {
                      $(".search-icon").click(function () {
                          $(".search-pc").stop().slideToggle("fast");
                          return false;
                      });
                  });
              </script>  	
            <div class="c"></div>
              </div>
              <div class="lang"> 
								<a href="/en/" class="lang-flag en"> <img src="/images/flag-en.png"> </a>
							</div>
           </div>


           

          </div>
        </div>
      <div class="c"></div>
    </header>
    <!-- end header pc -->
    <header class="header hide-on-pc error">
      <div class="mobile-bar hide-on-pc">
        <div class="grid">
            <div class="flex-container align-center">
                <div class="cell-1-3">
                   
                    <a class="menu-mobile" href="#menu">
                      <i class="fas fa-bars"></i>
                   </a>
                   
                </div>
                <div class="cell-1-3">
                 
                  <div class="logo">
                      <a href="/">
                        <img src="/uploaded/logo/Logo_full 1.png" alt="Logo web" style="max-width: 100%; margin: 0 auto" />
                      </a>
                  </div>
                 
              </div>
            
                <div class="icon-search search-mb" >
                  <i class="fa fa-search search-iconmb" aria-hidden="true"></i>
                    <div class="frm-search-mb" style="">
                     <form action="/search/" method="get" id="searchformtab">
                        <input name="qr" class="kw-mobile" placeholder="Tìm kiếm " type="text">
                        <a href="#" class="submit-search-pc" onClick="$('#searchformtab').submit(); return false;"> 
                          <i class="fa fa-search" aria-hidden="true"></i> </a>
  
                        <a href="#" class="closeX" onClick="$('.frm-search-mb').hide(); return false;">&#10005;</a>        
                      </form>
                    </div> 
                    
                    <script>
                      $(document).ready(function () {
                      $(".search-iconmb").click(function () {
                        $(".frm-search-mb").stop().slideToggle("fast");
                        return false;
                      });
                      });
                    </script>  	
                   </div>
               
            </div>
            </div>
        </div>
        <div class="c"></div>
    </div>

    </header>
    <!-- content -->
    <div class="content">
      
        <div class="img-poster" style="position:relative">

            <a class="" href="">
                <img src="/uploaded/pic-cat/images/mang-luoi.png" alt="" width="100%">
            </a>    
        
        </div>
         
     
    </div>
  

    <div class="crumb"><div class="grid"><a href="/"> Trang chủ </a> <i class="fa fa-angle-right"></i> <a href='/linh-vuc-hoat-dong/'> Mạng lưới</a></div></div>
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>

        <div class="grid"> 
            <div class="flex-container flex-centered">
                <div class="cell-3-4 tab-cell-1-1">
                    <div class="pagecat-title">
                        Mạng lưới
                    </div>
                    <div class="c"></div>
                    <div style="padding:5px 0px; text-align: center;">Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquas ipsum suspendisse ultricevida.&nbsp;</div> 
                    
                </div>
           </div>
           <div class="c30"></div>
           <div class="flex-container">
                <div class="cell-2-5 tab-cell-1-1">
                    
                    <div class="mangluoi">
                        
                      
                        
                       
                        <form action="#" class="mangluoi-form">
                          <h3> 
                            Mạng lưới của chúng tôi (15)
                        </h3>
                        <div class="c10"></div>
                            <div class="line-frm">
                               
                                <select class="notNull" name="tinh_thanh">
                                        <option value="0">-Tỉnh Thành-</option>
                                        <option value="1">Hà Nội</option>
                                        <option value="2"> Hải Phòng</option>
                                        <option value="3"> Bắc Ninh </option>
                                        <option value="4"> Vĩnh Phúc</option>
                                        <option value="5"> Tuyên Quang </option>
                                        <option value="6"> Phú Thọ </option>
                                        <option value="7"> Khác </option><option>
                                </option></select>
                            </div>
                            <div class="c10"></div>
                            <div class="line-frm">
                                
                                <select class="notNull" name="quan_huyen">
                                        <option value="1">-Quận huyện-</option>
                                        <option value="1">Ba Đình</option>
                                        <option value="2"> Thanh Xuân</option>
                                        <option value="3"> Đống Đa </option>
                                     
                                </option></select>
                            </div>
                        </form>
                        <div class="c30"></div>
                       <div class="mangluoi-list">
                        <div class="mangluoi-item">
                          <a href="#" class="mangluoi-item--name">
                            Idemitsu Q8 Thăng Long
                          </a>
                          <div class="c5"></div>
                          <div class="mangluoi-item--add">
                            Lot TXD, Thang Long Industrial Park Vong La Commune
                            Dong Anh District Hanoi VietnamIpsum
                          </div>
                          <div class="c10"></div>
                          <div class="btn-maps" >
                            <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                          </div>
                      </div>
                      <div class="mangluoi-item">
                        <a href="#" class="mangluoi-item--name">
                          Idemitsu Q8 Thăng Long
                        </a>
                        <div class="c5"></div>
                        <div class="mangluoi-item--add">
                          Lot TXD, Thang Long Industrial Park Vong La Commune
                          Dong Anh District Hanoi VietnamIpsum
                        </div>
                        <div class="c10"></div>
                        <div class="btn-maps" >
                          <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                        </div>
                    </div>
                    <div class="mangluoi-item">
                      <a href="#" class="mangluoi-item--name">
                        Idemitsu Q8 Thăng Long
                      </a>
                      <div class="c5"></div>
                      <div class="mangluoi-item--add">
                        Lot TXD, Thang Long Industrial Park Vong La Commune
                        Dong Anh District Hanoi VietnamIpsum
                      </div>
                      <div class="c10"></div>
                      <div class="btn-maps" >
                        <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                      </div>
                    </div>
                    <div class="mangluoi-item">
                      <a href="#" class="mangluoi-item--name">
                        Idemitsu Q8 Thăng Long
                      </a>
                      <div class="c5"></div>
                      <div class="mangluoi-item--add">
                        Lot TXD, Thang Long Industrial Park Vong La Commune
                        Dong Anh District Hanoi VietnamIpsum
                      </div>
                      <div class="c10"></div>
                      <div class="btn-maps" >
                        <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                      </div>
                  </div>
                  <div class="mangluoi-item">
                    <a href="#" class="mangluoi-item--name">
                      Idemitsu Q8 Thăng Long
                    </a>
                    <div class="c5"></div>
                    <div class="mangluoi-item--add">
                      Lot TXD, Thang Long Industrial Park Vong La Commune
                      Dong Anh District Hanoi VietnamIpsum
                    </div>
                    <div class="c10"></div>
                    <div class="btn-maps" >
                      <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                    </div>
                  </div>
                  <div class="mangluoi-item">
                    <a href="#" class="mangluoi-item--name">
                      Idemitsu Q8 Thăng Long
                    </a>
                    <div class="c5"></div>
                    <div class="mangluoi-item--add">
                      Lot TXD, Thang Long Industrial Park Vong La Commune
                      Dong Anh District Hanoi VietnamIpsum
                    </div>
                    <div class="c10"></div>
                    <div class="btn-maps" >
                      <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                    </div>
                </div>
                <div class="mangluoi-item">
                  <a href="#" class="mangluoi-item--name">
                    Idemitsu Q8 Thăng Long
                  </a>
                  <div class="c5"></div>
                  <div class="mangluoi-item--add">
                    Lot TXD, Thang Long Industrial Park Vong La Commune
                    Dong Anh District Hanoi VietnamIpsum
                  </div>
                  <div class="c10"></div>
                  <div class="btn-maps" >
                    <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                  </div>
                </div>
                  <div class="mangluoi-item">
                    <a href="#" class="mangluoi-item--name">
                      Idemitsu Q8 Thăng Long
                    </a>
                    <div class="c5"></div>
                    <div class="mangluoi-item--add">
                      Lot TXD, Thang Long Industrial Park Vong La Commune
                      Dong Anh District Hanoi VietnamIpsum
                    </div>
                    <div class="c10"></div>
                    <div class="btn-maps" >
                      <a href="#" class=""> <i class="fas fa-map-marker-alt"></i> Chỉ đường</a>
                    </div>
                  </div>
                  </div>
                  </div>
                  
                </div>
                <div class="cell-3-5 tab-cell-1-1">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14899.363302899343!2d105.81728845!3d20.99901675!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac9b3f23b42b%3A0x49fa01aaa06d239b!2sVinhomes%20Royal%20City!5e0!3m2!1svi!2s!4v1671443095827!5m2!1svi!2s" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
           </div>
        </div>
    <div class="c30"></div>
    <div class="c20 hide-on-mobile"></div>
    <!-- end content -->


    <div class="c"></div>

    <!-- footer -->
    <footer class="footer">
   
    <div class="footer-logo">
       <div class="grid">
        <div class="flex-container">
        
          <div class="cell-2-4 tab-cell-1-1">

              <div class="footer-block">
                <div class="info">
                    <div class="footer-title footer-title-mobile"> Công ty TNHH Xăng dầu Idemitsu Q8</div>
                </div>
                <div class="info">
                    <b>Địa chỉ:</b>  Phòng 804-B, Tòa nhà Sun Red River, 23 Phan Chu Trinh,
                    P. Phan Chu Trinh, Q. Hoàn Kiếm, TP. Hà Nội
                </div>
                <div class="info">
                  <b>Điện thoại:</b>  +84 (0)24 3633 2082
              </div>
              <div class="info">
                <b> Email:</b> IQ8-info@idemitsuq8.com
            </div>

              </div>
          </div>
       
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                 Về chúng tôi
                </div>
        
                <ul class="menuboxfooter" id="">
                  
                  
                  <li><a href="#">Giới thiệu chung </a></li>
                  <li><a href="#"> Hóa đơn điện tử </a></li>
                  <li><a href="#"> Tuyển dụng</a></li>
                  
                 
                </ul>
              </div>
              
            </div>
        
            <div class="cell-1-4 tab-cell-1-1">
              <div class="footer-block">
                <div class="footer-title footer-title-mobile" rel="ct">
                  Theo dõi chúng tôi trên
               </div>
               <ul class="footer-social">
           
                 <li class="facebook  hvr-float">
                   <a href="https://www.facebook.com/hocbongvnu" class="footer-social__item">
                     <i class="fab fa-facebook-f"></i>
                   </a>
                 </li>
                 <li class="youtube  hvr-float">
                   <a href="#" class="footer-social__item">
                     <i class="fab fa-youtube"></i>
                   </a>
                 </li>
                
                 <li class="instagram  hvr-float">
                   <a href="" class="footer-social__item">
                     <i class="fab fa-twitter"></i>
                   </a>
                 </li>
                
               </ul>
              </div>
            
          </div>
          
      </div>
       </div>
    </div>
    <div class="footer-copyright">
      <div class="grid">
        BẢN QUYỀN © 2022 idemitsuq8. All Rights Reserved.
      </div>
    </div>
    </footer>
    <!-- end footer -->
</div>


  <link rel="stylesheet" href="/css/jquery.fancybox.css" />
  <script src="/js/jquery.fancybox.js"></script>
  <link rel="stylesheet" href="/css/hover.css" />
  
</body>

</html>
